<!DOCTYPE html>
<html>
  <head>
    <title>Resumaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>

  <body>
    <%= render 'layouts/alert' %>
    <%= render 'navbar/index' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
